<figcaption class="node-meta">
	<a class="node-share" target="_new">Pass to a friend</a>
    <a class="node-link">#<span class="node-rank"></span></a> |
    <span class="node-region"></span>
</figcaption>