<div class="node-meta-more">
	<ul class="meta-details">
		<li>#2</li>
		<li>by: <span class="node-signature">will moritz</span></li>
		<li><span class="node-date">December 14th, 1992</span></li>
		<li><span class="node-region">This place here</span></li>
		<li><a class="node-share" target="_new">pass this</a></li>
	</ul>
</div>
