<div class="node-meta-more-container js-node-more">
	<div class="node-meta-more">
		<img class="meta-map" alt="map" />
		<ul class="meta-details">
			<li>by: <span class="node-signature">will moritz</span></li>
			<li>on: <span class="node-date">December 14th, 1992</span></li>
			<li>where: <span class="node-region">This place here</span></li>
			<li><a class="node-share" target="_new">copy link</a></li>
		</ul>
	</div>
</div>