<figcaption class="node-meta">
	<button class="node-meta-toggle js-meta-toggle">more...</button>
	<ul class="meta-details">
		<li>#<a class="node-link"><span class="node-rank"></span></a></li>
		<li><span class="node-signature"></span></li>
		<li><span class="node-date">December 14th, 1992</span></li>
		<li><span class="node-region"></span></li>
		<li><a class="node-share js-copy-to-clip" target="_new">pass this</a></li>
	</ul>
</figcaption>
