<div class="node-meta-more-container js-node-more">
	<div class="node-meta-more">
	    <span class="node-signature">will moritz</span>
	    <img src="http://placehold.it/150x150" alt="">
	    <a class="node-share" target="_new">copy link</a>
	</div>
</div>