<script id="bootstrapped-thread-json" type="application/json">
  <%= @thread.to_json.html_safe %>
</script>

<div id="js-init-thankyou" class="wrapper">
	<div class="js-node-sack wrapper-thin">
		<figure class="holder-sentence" id="blank-sentence">
			<p class="saved-sentence"></p>
			<figcaption class="node-meta">
				<div>
					#<span class="node-number"></span>
				</div>
				<div>
					<span class="node-region">San Francisco, CA</span>,
					<span class="node-country">USA</span>
				</div>
			</figcaption>
		</figure>
		<figure class="holder-picture" id="blank-picture">
			<img class="saved-picture" />
			<figcaption class="node-meta">
				<div>
					#<span class="node-number"></span>
				</div>
				<div>
					<span class="node-region">Paris</span>,
					<span class="node-country">France</span>
				</div>
			</figcaption>
		</figure>
		<a href="" class="holder-sentence show-start">Go to the beginning of the chain</a>
	</div>
</div>