<script id="bootstrapped-thread-json" type="application/json">
<%= @thread.to_json.html_safe %>
</script>

<%= render "/error_overlay" %>

<div class="thank-you-message">
    <h2>You just became part of
    </h2>
    <h1>the world's biggest game of pictionary ever.</h1>
    <div class="cta-share">
        <h3>Make it bigger:</h3>
        <a href="">facebook</a>
        <a href="">twitter</a>
        <a href="" class="share-email">email</a>
        <a href="" class="share-copy">copy link</a>
    </div>
</div>

<div id="js-init-thankyou" class="wrapper">
    <div class="js-node-sack wrapper-thin">
        <figure class="holder-sentence js-holder" id="js-blank-sentence" data-rank>
            <p class="saved-sentence"></p>
            <%= render "conversations/node_actions" %>
        </figure>

        <figure class="holder-picture js-holder" id="js-blank-picture" data-rank>
            <img class="saved-picture" />
            <%= render "conversations/node_actions" %>
        </figure>
    </div>
</div>