<p><span style="font-family: 'courier new', courier;"><span style="font-size: large;">You just got an answer in the biggest game of telephone ever got an answer:&nbsp;</span><strong><a style="font-family: 'courier new', courier; font-size: large;" href="<%= thank_you_url(thread_id: @new_child.thread_id) %>">see it here</a></strong></span></p>
<p><span style="font-family: 'courier new', courier;"><strong>&nbsp;</strong></span></p>
<p><span style="font-family: 'courier new', courier; font-size: large;">It's responds to your submission:</span></p>
<% if @contribution.category == "sentence" %>
  <p><%= @contribution.blob %></p>
<% else %>
  <img src="<%= @contribution.blob %>">
<% end %>
<p>&nbsp;</p>
<p><span style="font-family: 'courier new', courier; font-size: large;">Keep it going baby,</span></p>
<p><span style="font-family: 'courier new', courier; font-size: large;">The Telephone Operators</span></p>
<p><span style="font-family: 'courier new', courier;"><span style="font-size: x-small; font-family: 'courier new', courier;">To stop receiving these notifications, <a href="<%= delete_emailer_url(
  @emailer, auth_token: @emailer.auth_token ) %>">unsubscribe here</a></span><br /></span></p>