<div class="loader">
  <span>L</span>
  <span class="span2">O</span>
  <span class="span3">A</span>
  <span class="span4">D</span>
  <span class="span5">I</span>
  <span class="span6">N</span>
  <span class="span7">G</span>
</div>