<div class="overlay overlay-about js-about">
	<div class="overlay__content">
		<h1>How to play:</h1>
		<p>This is the biggest game of telephone on the internet.</p>
		<p>If you see a drawing, write a sentence. If you see a sentence, draw a picture.</p>
		<p><button class="button button-green do-it js-overlay-close">Let's Do It</button></p>
		<p>Whatever you submit will be what the next player sees.</p>
		<div class="credits">
      <div>Favicon made by
        <a href="http://www.freepik.com" title="Freepik" target="_new">
          Freepik
        </a>
        from
        <a href="http://www.flaticon.com/free-icon/telephone-outline-with-telephone-cord_16451" title="Flaticon" target="_new">
          www.flaticon.com
        </a>
      </div>
      <div>Game built by
        <a href="https://twitter.com/7imon7ays" title="7imon7ays" target="_new">
          7imon7ays
        </a>
        and
        <a href="https://twitter.com/willthefirst" target="_new">
         willthefirst
        </a>
      </div>
		</div>
	</div>
</div>

