<canvas id="canvas-wrapper">
</canvas>
<div class="draw-tools">
	<a href="/" class="draw-color" title="Change color"></a>
	<a href="/" class="draw-weight" title="Change weight">
		<svg class="weight" width="32px" height="32px" viewBox="-4 -2 68 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <title>Line</title>
		    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g class="stroke-width" sketch:type="MSArtboardGroup" transform="translate(-396.000000, -805.000000)" stroke-linecap="square" stroke="#979797">
		            <g id="Drawing-Tools" sketch:type="MSLayerGroup" transform="translate(282.000000, 665.000000)">
		                <g id="Brushes" transform="translate(112.000000, 0.000000)" sketch:type="MSShapeGroup">
		                    <path d="M4,169 C4,169 66.8905227,232 32.0000007,169 C-2.89036307,106 60,169 60,169" id="Line"></path>
		                </g>
		            </g>
		        </g>
		    </g>
		</svg>
	</a>
	<a href="/" class="draw-mode erase" title="Draw/Erase">
		<svg class="draw-img" width="30px" height="32px" viewBox="0 0 59 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <title>web-telephone 3</title>
		    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="Mobile" sketch:type="MSArtboardGroup" transform="translate(-287.000000, -663.000000)">
		            <rect id="Bg-color" sketch:type="MSShapeGroup" x="9" y="-4" width="641" height="1137"></rect>
		            <g id="Drawing-Tools" sketch:type="MSLayerGroup" transform="translate(194.000000, 664.000000)"></g>
		            <g id="tool-draw" sketch:type="MSLayerGroup" transform="translate(289.500000, 664.000000)" stroke="#979797">
		                <path d="M45.2983827,3.2473264 L2.81600344,45.1913615 L-0.0885216065,55.893825 L10.2217323,53.1662138 L53.0398512,10.8906937 C53.0398512,10.8906937 57.0047412,7.13556201 53.0398512,3.2473264 C49.3141275,-0.406366658 45.4824364,3.07409753 45.2983827,3.2473264 L45.2983827,3.2473264 Z" id="path2656" stroke-width="3.749211" sketch:type="MSShapeGroup"></path>
		                <path d="M11.6306675,51.2592872 C11.6306675,51.2592872 9.39386526,52.1900819 8.37184423,51.1456943 C7.34982319,50.1012972 7.85264272,47.9833779 7.85264272,47.9833779 C7.85264272,47.9833779 6.04031101,48.9093232 5.30127513,47.8616884 C4.56223925,46.8140537 4.26121579,46.214023 4.65411098,45.1534422 C5.04701093,44.092866 4.75049347,43.6436501 4.75049347,43.6436501" id="path2658" stroke-width="1.91453818" sketch:type="MSShapeGroup"></path>
		                <path d="M0.713168623,54.8589997 L2.95275374,52.9636807" id="path2662" stroke-width="5.2072375" sketch:type="MSShapeGroup"></path>
		                <path d="M7.99955061,48.0674498 C10.0791585,46.014195 52.7911718,4.47520739 52.7911718,4.47520739" id="path2664" stroke-width="2.2911845" sketch:type="MSShapeGroup"></path>
		                <path d="M54.1285146,4.42925948 C54.1285146,6.55181687 52.8184166,8.2724896 51.2023288,8.2724896 C49.586241,8.2724896 48.2761431,6.55181687 48.2761431,4.42925948 C48.2761431,2.3067021 49.586241,0.58602937 51.2023288,0.58602937 C52.8184166,0.58602937 54.1285146,2.3067021 54.1285146,4.42925948 L54.1285146,4.42925948 Z" id="path2666" stroke-width="1.89395349" sketch:type="MSShapeGroup" transform="translate(51.210725, 4.481509) rotate(11.490580) translate(-51.210725, -4.481509) "></path>
		            </g>
		        </g>
		    </g>
		</svg>
		<svg class="erase-img" width="30px" height="28px" viewBox="0 0 60 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <title>web-telephone 2</title>
		    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="Mobile" sketch:type="MSArtboardGroup" transform="translate(-293.000000, -757.000000)">
		            <rect id="Bg-color" sketch:type="MSShapeGroup" x="9" y="-4" width="641" height="1137"></rect>
		            <g id="Drawing-Tools" sketch:type="MSLayerGroup" transform="translate(194.000000, 664.000000)"></g>
		            <g id="Eraser-icon-1_copy-(3)" sketch:type="MSLayerGroup" transform="translate(293.000000, 757.000000)">
		                <path d="M33.997752,2.17581563 C35.0418384,1.14069806 36.1833396,-0.169450731 37.8368927,0.0180705661 C41.5311602,-0.0969424962 44.9706507,1.43573157 48.3526914,2.7258781 C51.7447234,4.1435391 55.2666417,5.39368108 58.2964906,7.52392302 C59.0907956,8.0564835 59.6927688,8.84907352 60,9.7566766 C59.2256775,13.2045682 57.4672162,16.30242 56.0509554,19.507784 C54.1925815,23.1957029 52.6264519,27.1461516 49.7489697,30.1914974 C45.8848508,34.1569478 42.1905832,38.3024186 38.0591982,41.9978383 C34.2750094,45.5432409 30.7830648,49.3886777 26.9414263,52.8715732 C25.8348945,53.8366828 24.9481704,55.0743234 23.6967653,55.8644131 C22.3054827,56.1069407 20.8692394,56.0194307 19.5104284,55.6393876 C14.3599351,54.3017357 9.38928438,52.3440133 4.60596978,50.0262501 C2.92743849,49.2461615 1.46122143,48.0960309 0,46.9759037 C0.50955414,44.7431501 1.48370176,42.6604135 2.43037342,40.5876781 C3.99900087,37.1922925 5.6500562,33.8369114 7.37105033,30.5165343 C9.93880355,25.7834968 14.1800924,22.3381055 17.6870239,18.3501526 C23.0623205,12.8970333 28.4351193,7.43891336 33.997752,2.17581563 L33.997752,2.17581563 Z" id="Shape" fill="#9D9D9D" sketch:type="MSShapeGroup"></path>
		                <path d="M38.2184957,3.15549873 C39.6376442,2.68790409 41.1101061,3.39186525 42.4657864,3.73099982 C46.7536968,5.21856738 51.0644557,6.69842733 55.1949649,8.5970671 C56.2612304,8.90280206 56.7029689,9.9536054 57,10.9247635 C52.7628642,14.6655206 48.4216406,18.2855252 44.3723706,22.2343877 C43.3340311,23.2004074 42.0900548,24.3899476 40.5312762,23.8761073 C37.2182372,23.0745165 34.0346732,21.8104694 30.843493,20.6157908 C28.6957297,19.74997 26.4641885,19.035732 24.504291,17.7768234 C23.7071307,17.2475679 23.9432323,16.1171193 24.6007627,15.5750179 C27.8224076,12.0731965 31.2268408,8.73323477 34.7835977,5.57825556 C35.8193984,4.62508188 36.9567483,3.77467624 38.2184957,3.15549873 L38.2184957,3.15549873 Z" id="Shape" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
		                <path d="M56,14 C55.0888466,17.2246561 53.4833582,20.1996943 52.1127564,23.2485991 C50.5485668,27.0157922 47.4021193,29.7768721 44.681565,32.723892 C42.7895666,34.5960265 41.1401983,36.7050433 39.1268849,38.4574631 C38.5564461,38.9847173 37.7253091,38.9414162 37,39 C37.9601956,35.4773306 39.1191414,31.9546612 40.9104741,28.7503821 C43.3341937,25.4951605 46.537427,22.9200204 49.3379976,19.9984717 C51.5190871,17.9633214 53.3930173,15.5410087 56,14 L56,14 Z" id="Shape" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
		                <path d="M31.1726978,32.7847423 C34.173574,30.6003863 36.8847805,28.0265122 40,26 C37.7385438,29.4165569 34.4708666,31.9242384 31.4064663,34.5617593 C29.5718917,35.9798086 29.3584509,38.411114 28.6190309,40.4401721 C27.5111715,43.4570275 26.3880662,46.471337 25.1938141,49.4550961 C24.4315255,51.3619524 23.7784982,53.3706435 22.4826076,55 C23.7302199,48.3247301 27.4400245,42.2731981 27.8160869,35.4171715 C24.7135722,33.9023791 21.4026987,32.8611184 18.2519057,31.445615 C15.8379918,30.3381617 13.0988347,29.785708 11,28.0901589 C16.9306054,29.3070845 22.4927714,31.8987797 28.3928853,33.2506365 C29.3432051,33.4924941 30.3748357,33.3550171 31.1726978,32.7847423 L31.1726978,32.7847423 Z" id="Shape" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
		            </g>
		        </g>
		    </g>
		</svg>
	</a>
	<a href="/" class="draw-undo" title="Undo">
		<?xml version="1.0" encoding="UTF-8" standalone="no"?>
		<svg width="32px" height="29px" viewBox="0 0 56 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <title>Undo</title>
		    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="Mobile" sketch:type="MSArtboardGroup" transform="translate(-465.000000, -734.000000)">
		            <rect id="Bg-color" sketch:type="MSShapeGroup" x="9" y="-4" width="641" height="1137"></rect>
		            <g id="Drawing-Tools" sketch:type="MSLayerGroup" transform="translate(194.000000, 664.000000)">
		                <g id="Path-10-+-Triangle-1-+-Oval-9" transform="translate(272.000000, 72.000000)" sketch:type="MSShapeGroup">
		                    <g id="Path-10-+-Triangle-1" stroke="#979797">
		                        <path d="M5,28 C5,28 8.75582599,-5.73171139e-13 27.4713796,0 C52.2559993,7.59038671e-13 49.9427601,48 49.9427601,48" id="Path-10" stroke-width="4"></path>
		                        <polygon id="Triangle-1" fill="#979797" transform="translate(6.000000, 36.000000) rotate(179.000000) translate(-6.000000, -36.000000) " points="6 27 12 45 0 45 "></polygon>
		                    </g>
		                    <ellipse id="Oval-9" fill="#979797" cx="50" cy="50.5" rx="5" ry="5.5"></ellipse>
		                </g>
		            </g>
		        </g>
		    </g>
		</svg>
	</a>
	<a href="/" class="draw-reset" title="Reset">
		<svg width="24px" height="28px" viewBox="0 0 47 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <title>trash-can-10-icon</title>
		    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="Mobile" sketch:type="MSArtboardGroup" transform="translate(-574.000000, -665.000000)" fill="#979797">
		            <g id="Drawing-Tools" sketch:type="MSLayerGroup" transform="translate(282.000000, 665.000000)">
		                <g id="Trash" transform="translate(292.000000, 0.000000)" sketch:type="MSShapeGroup">
		                    <path d="M45,14 L39.505511,56 L8.49448897,56 L3,14 L7.96982073,14 L12.8914491,51.3172932 L35.10897,51.3172932 L40.0635647,14 L45,14 L45,14 Z M33.7643766,3.70585124 C31.6086282,3.70585124 29.8608032,2.04666882 29.8608032,0 L17.1390574,0 C17.1390574,2.04680107 15.3915112,3.70585124 13.235484,3.70585124 L0,3.70585124 L0,9 L47,9 L47,3.70585124 L33.7643766,3.70585124 L33.7643766,3.70585124 Z" id="trash-can-10-icon"></path>
		                </g>
		            </g>
		        </g>
		    </g>
		</svg>
	</a>
	<button id="submit" class="submit-draw button-green">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22" height="25" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

			<g>
				<path fill="white" d="M49.431,258l35.334-32.666c41.332,20,67.545,35.217,114,68.333

				c87.334-99.109,145.041-149.39,252.307-216.128l11.498,26.447c-88.457,77.195-153.244,163.178-246.533,330.475

				C158.499,366.696,120.097,323.5,49.431,258z"/>
			</g>

		</svg>
	</button>
	<div class="js-error-orientation overlay hidden">
		<div class="overlay__content error">
			<p>Hold your phone vertically.</p>
		</div>
	</div>
</div>