<canvas id="canvas-wrapper">
</canvas>
<div class="draw-tools">
	<a href="/" class="draw-color" title="Change color"></a>
	<a href="/" class="draw-weight" title="Change weight">
		<svg class="weight"width="32px" height="32px" viewBox="-4 -2 68 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <title>Line</title>
		    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g class="stroke-width" sketch:type="MSArtboardGroup" transform="translate(-396.000000, -805.000000)" stroke-linecap="square" stroke="#979797">
		            <g id="Drawing-Tools" sketch:type="MSLayerGroup" transform="translate(282.000000, 665.000000)">
		                <g id="Brushes" transform="translate(112.000000, 0.000000)" sketch:type="MSShapeGroup">
		                    <path d="M4,169 C4,169 66.8905227,232 32.0000007,169 C-2.89036307,106 60,169 60,169" id="Line"></path>
		                </g>
		            </g>
		        </g>
		    </g>
		</svg>
	</a>
	<a href="/" class="draw-undo" title="Undo">
		<svg width="18px" height="28px" viewBox="0 0 38 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <title>Path 6</title>
		    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="Mobile" sketch:type="MSArtboardGroup" transform="translate(-519.000000, -662.000000)" stroke="#979797" stroke-width="5">
		            <g id="Drawing-Tools" sketch:type="MSLayerGroup" transform="translate(282.000000, 665.000000)">
		                <g id="Undo/Redo" transform="translate(184.000000, 0.000000)" sketch:type="MSShapeGroup">
		                    <path d="M43.0748299,12.2716049 L71.1976369,43.7283951 L99.320444,12.2716049" id="Path-6" transform="translate(71.074830, 28.000000) rotate(-90.000000) translate(-71.074830, -28.000000) "></path>
		                </g>
		            </g>
		        </g>
		    </g>
		</svg>
	</a>
	<a href="/" class="draw-redo" title="Redo">
		<svg width="18px" height="28px" viewBox="0 0 38 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <title>Path 6</title>
		    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="Mobile" sketch:type="MSArtboardGroup" transform="translate(-519.000000, -662.000000)" stroke="#979797" stroke-width="5">
		            <g id="Drawing-Tools" sketch:type="MSLayerGroup" transform="translate(282.000000, 665.000000)">
		                <g id="Undo/Redo" transform="translate(184.000000, 0.000000)" sketch:type="MSShapeGroup">
		                    <path d="M43.0748299,12.2716049 L71.1976369,43.7283951 L99.320444,12.2716049" id="Path-6" transform="translate(71.074830, 28.000000) rotate(-90.000000) translate(-71.074830, -28.000000) "></path>
		                </g>
		            </g>
		        </g>
		    </g>
		</svg>
	</a>
	<a href="/" class="draw-reset" title="Reset">
		<svg width="24px" height="28px" viewBox="0 0 47 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <title>trash-can-10-icon</title>
		    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="Mobile" sketch:type="MSArtboardGroup" transform="translate(-574.000000, -665.000000)" fill="#979797">
		            <g id="Drawing-Tools" sketch:type="MSLayerGroup" transform="translate(282.000000, 665.000000)">
		                <g id="Trash" transform="translate(292.000000, 0.000000)" sketch:type="MSShapeGroup">
		                    <path d="M45,14 L39.505511,56 L8.49448897,56 L3,14 L7.96982073,14 L12.8914491,51.3172932 L35.10897,51.3172932 L40.0635647,14 L45,14 L45,14 Z M33.7643766,3.70585124 C31.6086282,3.70585124 29.8608032,2.04666882 29.8608032,0 L17.1390574,0 C17.1390574,2.04680107 15.3915112,3.70585124 13.235484,3.70585124 L0,3.70585124 L0,9 L47,9 L47,3.70585124 L33.7643766,3.70585124 L33.7643766,3.70585124 Z" id="trash-can-10-icon"></path>
		                </g>
		            </g>
		        </g>
		    </g>
		</svg>
	</a>
	<button id="submit" class="submit-draw button-green">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22" height="25" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

			<g>
				<path fill="white" d="M49.431,258l35.334-32.666c41.332,20,67.545,35.217,114,68.333

				c87.334-99.109,145.041-149.39,252.307-216.128l11.498,26.447c-88.457,77.195-153.244,163.178-246.533,330.475

				C158.499,366.696,120.097,323.5,49.431,258z"/>
			</g>

		</svg>
	</button>
	<div class="js-error-orientation overlay hidden">
		<div class="overlay__content error">
			<p>Hold your phone vertically.</p>
		</div>
	</div>
</div>