<canvas id="canvas-wrapper">
</canvas>
<div class="draw-tools">
	<a href="/" class="draw-color" title="Change color"></a>
	<a href="/" class="draw-weight" title="Change weight"></a>
	<a href="/" class="draw-reset" title="Reset"></a>
	<a href="/" class="draw-redo" title="Redo"></a>
	<a href="/" class="draw-undo" title="Undo"></a>
</div>