<div class="prompt-holder">
	<p class="prompt-direction">Draw:</p>
	<p id="prompt" class="prompt-sentence">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus minus cupiditate architecto quae rem iure!</p>
</div>