<canvas id="canvas-wrapper">
</canvas>
<div class="draw-tools">
	<a href="/" class="draw-color">Change color</a>
	<a href="/" class="draw-weight">Change weight</a>
	<a href="/" class="draw-reset">Reset</a>
	<a href="/" class="draw-redo">Redo</a>
	<a href="/" class="draw-undo">Undo</a>
</div>