<a class="prompt-toggle">show prompt</a>
<div class="js-picture-prompt prompt-holder-picture">
	<p class="prompt-direction-draw">Draw:</p>

    <% if @parent_blob %>
      <p id="prompt" class="prompt-picture"><%= @parent_blob %></p>
    <% else %>
    <p><i>No prompt. Free rein!</i></p>
    <% end %>

	<a class="cta-draw">start</a>
</div>