<div id="js-init-submit" class="wrapper">
  <div class="hidden error-overlay">
    <div class="error-flash">
      <p class="error-message"></p>
    </div>
  </div>
  	<%= render "#{@contribution.category}_prompt",
      locals: { parent_blob: @parent_blob } %>
  	<%= render "#{@contribution.category}_form" %>
  	<%= render "server_form" %>
</div>
