<div id="js-init-submit" class="wrapper">
	<%= render "#{@contribution.category}_prompt",
    locals: { parent_blob: @parent_blob } %>
	<%= render "#{@contribution.category}_form" %>
	<%= render "server_form" %>
</div>
