<div id="js-init-submit" class="wrapper">
  <div class="hidden overlay js-error-form">
  	<div class="overlay__content error">
  		<p class="js-error-message"></p>
  	</div>
  </div>
  	<%= render "#{@contribution.category}_prompt",
      locals: { parent_blob: @parent_blob } %>
  	<%= render "#{@contribution.category}_form" %>
  	<%= render "server_form" %>
</div>
