<h1>Join the fun</h1>

<div id="canvas_wrapper">
</div>

<div id="image_wrapper">
  <img id="image-save">
</div>

<button id="done">Done</button>
<button id="upload">Upload</button>

<%#= render "server_form" %>
<%= render "s3_form" %>


<script type="text/javascript">
  var $canvas_wrapper = $("#canvas_wrapper")
    , imgTag = $("#image-save")[0];
  
  loadScribble($canvas_wrapper);

  var canvas = $canvas_wrapper.data("jqScribble").canvas

  $("#done").on("click", function () {
    imgTag.src = canvas.toDataURL();
  });
</script>
