<form for="contributions" action="<%= contributions_url %>" method="POST">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
  >

  <canvas id="canvas-wrapper">
  </canvas>
  <div class="draw-tools">
    <button class="draw-color">Color</button>
    <button class="draw-weight">Weight</button>
    <button class="draw-undo">Undo</button>
    <button class="draw-redo">Redo</button>
    <button class="draw-reset">Reset</button>
  </div>
  <input type="submit">
</form>