@import 'base';

/*   Submit
   ------------------------------------------------------- */

/*    Sentence  -------------------------------------------- */

%direction {
   margin: 26px 0 0px;
}

.prompt-direction-sentence {
   display: block;
   text-align: center;
   @extend %direction;
   @include size-4;
   @include bp(med-min) {
      @include size-1;
   }
}

.prompt-sentence {
   max-width: 100%;
   margin: 18px auto;
   display: block;
   @extend %bg-draw;
   @extend %inset;
}

.sentence-field {
   margin: 0;
   border: 0;
   resize: vertical;
   width: 76%;
   float: left;
   padding: 4px 8px;
   @include size-5;
   font-family: inherit;
   border: 1px solid $gray;
   border-radius: 2px;

   @include bp(med-min) {
      @include size-4;
   }
}

.sentence-submit {
   width: 18%;
   float: right;
   margin: 0;
}

/*    Picture  -------------------------------------------- */

.prompt-holder-picture {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   right: 0;
   min-height: 75%;
   margin: 20px;
   text-align: center;
   box-shadow: 0 0 4px #ccc;
   background-color: rgba(255, 255, 255, 0.90);
   border-radius: 3px;

}

// Change display if it's a huge screen
.big-enough {
   .prompt-holder-picture {
        position: static;
        z-index: 0;
        min-height: 0;
        margin: 0;
        background-color: transparent;
        border-radius: 0;
        box-shadow: 0;
        box-shadow: none;
        padding-bottom: $vert-space;
   }

   .cta-draw {
      display: none;
   }

   .prompt-toggle {
      display: none;
   }
}

.prompt-direction-draw {
   @extend %direction;
   @include size-2;
   @include bp(med-min) {
      @include size-1;
   }
}

.prompt-picture {
   text-align: center;
   padding: 12px 4px;
   @include size-4;
   @include bp(med-min) {
      @include size-3;
   }
}

.cta-draw {
   display: inline-block;
   margin: 24px auto;
   padding: 8px 12px;
   border: 2px solid $green;
   border-radius: 3px;
   color: $green;
   font-weight: bold;
}

.prompt-toggle {
   position: absolute;
   @include size-6;
   z-index: 1;
   right: 0;
   padding: 2px 4px;
   text-decoration: underline;
   cursor: pointer;
   color: $blue-trans;
   text-shadow: 0px 0px  #FFF, 0px 0px #FFF;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Drawing tools
   ------------------------------------------------------- */

.draw-tools {
   @extend .cf;
}

$tool_height: 28px;
$tool-space: 10px;

%tool-button {
   &:focus, :active {
      outline: 0;
   }
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent; /* For some Androids */
   cursor: pointer;
   height: $tool_height;
   display: block;
   margin: 4px $tool-space;
}

%draw-tool-l {
   float: left;
}

%draw-tool-r {
   float: right;
}

.draw-color {
   @extend %tool-button;
   @extend %draw-tool-l;
   background-color: transparent;
   width: $tool-height;
   display: block;
   border: 1px solid $gray-d;
   border-radius: $tool-height;
   cursor: pointer;
   box-sizing: border-box;
}

.draw-weight {
   @extend %tool-button;
   @extend %draw-tool-l;
   background-size: 100%;
   width: $tool-height;

   .weight {
      margin-top: -2px;
   }

   &.light {
      .stroke-width {
         stroke-width: 2;
      }
   }

   &.medium {
      .stroke-width {
         stroke-width: 6;
      }
   }

   &.heavy {
      .stroke-width {
         stroke-width: 12;
      }
   }
}

.draw-undo, .draw-redo {
   @extend %draw-tool-l;
   @extend %tool-button;
}

.draw-undo {
   -webkit-transform: rotate(180deg);
}

.draw-reset {
   @extend %tool-button;
   @extend %draw-tool-l;
}

.submit-draw {
   @extend %tool-button;
   @extend %draw-tool-r;
}

 /*    Scribble canvas native styles
    ------------------------------------------------------- */

 .scribble-canvas-holder {
   position: relative;
   margin: 0 auto $vert-space;
   @extend %bg-draw;
   @extend %inset;

   @include bp(med-min) {
      margin-bottom: 14px;
   }
 }

 .scribble-canvas-holder canvas {
   display: inline-block;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   cursor: crosshair;
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -ms-user-select: none;
 }

 .scribble-main-canvas {
 }

 .scribble-shadow-canvas {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
 }