/*    Base
   ------------------------------------------------------- */

/*    Variables  -------------------------------------------- */

$white: #fefefe;

$gray: #bababa;
$gray-d: #979797;
$gray-l: #f5f5f5;

$green: #31ba00;

$blue: #e7fdff;
$blue-trans: rgba(102, 181, 251, 0.73);

$vert-space: 8px;

//*    Reset  -------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*    Elements
   ------------------------------------------------------- */

.loading-animate {
   width: 30px;
   animation: spin-back-and-forth .5s infinite linear;
   -webkit-animation: spin-back-and-forth .5s infinite linear;   animation-direction: alternate;
   -webkit-animation-direction: alternate;
   -webkit-transform-origin: 0 50%;
   margin-left: 30px;
}

@-webkit-keyframes spin-back-and-forth {
   from {
      -webkit-transform: rotateZ(0deg);
      -webkit-transition-timing-function: ease-in;
   }
   to {
      -webkit-transform: rotateZ(180deg);
   }
}

/*    Mixins
   ------------------------------------------------------- */

@mixin bp($point) {

  $bp-med-min: "(min-width: 501px)";

  @if $point == med-min {
    @media #{$bp-med-min} { @content; }
  }

}

@mixin big-enough {
   @media screen and (min-height: 700px) and (min-width: 500px)  {
      @content;
   }
}

@mixin size-1 {
   font-size: 40px;
   line-height: 55px;
}

@mixin size-3 {
   font-size: 28px;
   line-height: 38.5px;
}

@mixin size-4 {
   font-size: 20px;
   line-height: 27.5px;
}

@mixin size-5 {
   font-size: 16px;
   line-height: 22px;
}

@mixin size-6 {
   font-size: 10px;
   line-height: 14px;
}



/*    Utility
   ------------------------------------------------------- */

.text-center {
   text-align: center;
}

/*    Global
   ------------------------------------------------------- */

body {
   background-color: $blue;
   font-family: arial, sans-serif;
   color: #010101;
}

.wrapper {
   margin: auto;
   width: 500px;
   max-width: 100%;
   position: relative;
   height: 100%;
   padding-bottom: $vert-space;
}

/*   Submit
   ------------------------------------------------------- */

/*    Sentence  -------------------------------------------- */

.prompt-direction-sentence {
   display: block;
   width: 100%;
   text-align: center;
}

.prompt-sentence {
   max-width: 100%;
   background-color: $white;
}

.sentence-field {
   margin: 0;
   border: 0;
   resize: vertical;
   width: 80%;
}

/*    Picture  -------------------------------------------- */

.prompt-holder-picture {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   right: 0;
   min-height: 75%;
   margin: 20px;
   text-align: center;
   box-shadow: 0 0 4px #ccc;
   background-color: rgba(255, 255, 255, 0.90);
   border-radius: 3px;

}

// Change display if it's a huge screen
.big-enough {
   .prompt-holder-picture {
        position: static;
        z-index: 0;
        min-height: 0;
        margin: 0;
        background-color: transparent;
        border-radius: 0;
        box-shadow: 0;
        box-shadow: none;
        padding-bottom: $vert-space;
   }

   .cta-draw {
      display: none;
   }

   .prompt-toggle {
      display: none;
   }
}

.prompt-direction-draw {
   margin: $vert-space 0;
   @include size-3;
}

.prompt-picture {
   @include size-5;
   text-align: center;
   padding: 0 4px;
}

.cta-draw {
   display: inline-block;
   margin: 24px auto;
   padding: 8px 12px;
   border: 2px solid $green;
   border-radius: 3px;
   color: $green;
   font-weight: bold;


}

.prompt-toggle {
   position: absolute;
   @include size-6;
   z-index: 1;
   right: 0;
   padding: 2px 4px;
   text-decoration: underline;
   cursor: pointer;
   color: $blue-trans;
   text-shadow: 0px 0px  #FFF, 0px 0px #FFF;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Drawing tools
   ------------------------------------------------------- */

.draw-tools {
   @extend .cf;
}

$tool_height: 28px;
$tool-space: 10px;

%tool-button {
   &:focus, :active {
      outline: 0;
   }
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent; /* For some Androids */
   cursor: pointer;
   height: $tool_height;
   display: block;
   margin: 4px $tool-space;
}

%draw-tool-l {
   float: left;
}

%draw-tool-r {
   float: right;
}

.draw-color {
   @extend %tool-button;
   @extend %draw-tool-l;
   background-color: transparent;
   width: $tool-height;
   display: block;
   border: 1px solid $gray-d;
   border-radius: $tool-height;
   cursor: pointer;
   box-sizing: border-box;
}

.draw-weight {
   @extend %tool-button;
   @extend %draw-tool-l;
   background-size: 100%;
   width: $tool-height;

   .weight {
      margin-top: -2px;
   }

   &.light {
      .stroke-width {
         stroke-width: 2;
      }
   }

   &.medium {
      .stroke-width {
         stroke-width: 6;
      }
   }

   &.heavy {
      .stroke-width {
         stroke-width: 12;
      }
   }
}

.draw-undo, .draw-redo {
   @extend %draw-tool-l;
   @extend %tool-button;
}

.draw-undo {
   -webkit-transform: rotate(180deg);
}

.draw-reset {
   @extend %tool-button;
   @extend %draw-tool-l;
}

.draw-submit {
   @extend %tool-button;
   @extend %draw-tool-r;
   display: block;
   border: none;
   border-radius: 2px;
   background-color: $green;
   box-shadow: 0 1px 1px 0px #000;
   padding-left: 12px;
   padding-right: 12px;
}

 /*    Scribble canvas native styles
    ------------------------------------------------------- */

 .scribble-canvas-holder {
   position: relative;
   margin: 0 auto $vert-space;
   background-color: $white;
   box-shadow: 0 0px 11px -4px #5D5D5D inset;
 }

 .scribble-canvas-holder canvas {
   display: inline-block;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   cursor: crosshair;
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -ms-user-select: none;
 }

 .scribble-main-canvas {
 }

 .scribble-shadow-canvas {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
 }

/*    Orientation alert (only for drawing form)
   ------------------------------------------------------- */

.orientation-alert {
   display: none;
   position: fixed;
   bottom: 0;
   top: 0;
   left: 0;
   right: 0;
   background-color: $blue-trans;
   text-align: center;
}

.alert-msg {
   padding-top: 60px;
   @include size-1;
   color: $white;
}

/*    Thankyou page
   ------------------------------------------------------- */

.wrapper-saved {
   background-color: $white;
   border: 1px solid $gray;
}

.holder-sentence, .holder-picture {
   position: relative;
   width: 100%;
}

.node-number {
   color: $gray;
   position: absolute;
   top: 0px;
   left: 0px;
   padding-top: 4px;
   padding-left: 4px;
   @include size-4;


   @include bp(med-min) {
      padding-top: 8px;
      padding-left: 8px;
      @include size-3;
   }
}

#blank-picture, #blank-sentence {
   display: none;
}

/*    Sentence  -------------------------------------------- */

.holder-sentence {
   padding-top: 16px;
   padding-bottom: 16px;
   line-height: 19px;
   font-size: 14px;
   background-color: $gray-l;

   @include bp(med-min) {
      line-height: 24px;
      font-size: 16px;
   }
}

.saved-sentence {
   max-width: 70%;
   text-align: left;
   margin: auto;
   display: block;
}

/*    Drawing  -------------------------------------------- */

.saved-picture {
   width: 100%;
}

/*    Other  -------------------------------------------- */

.show-start {
   @include size-3;
   text-align: center;
   display: block;
}