@import 'base';

/*    Thankyou page
   ------------------------------------------------------- */

/*    Thanks you message
   ------------------------------------------------------- */

.thank-you-message {
   text-align: center;
   padding: 4px;
   margin-top: 18px;

   @include bp(med-min) {
      margin-top: 60px;
   }
}

.cta-share {
   margin: 20px auto;
   @include bp(med-min) {
      margin: 50px auto;
   }
}

.cta-primary {
   margin-top: $vert-space;
}

.cta-secondary {
   margin-top: $vert-space;
}

%share-link-primary {
   text-decoration: none;
   @extend .button;
   display: inline-block;
   @include size-4;
   padding: 12px 18px;
   width: 300px;
   max-width: 100%;
   box-sizing: border-box;
   margin: 4px;

   @include bp(med-min) {
      @include size-3;
   }
}

%share-link-secondary {
   color: $blue-d;
   display: inline-block;

   &:visited {
      color: $blue-d;
   }
}

.share-fb {
   @extend %share-link-primary;
   background-color: $brand-fb;
   color: $white;
}

.share-tw {
   @extend %share-link-primary;
   background-color: $brand-tw;
   color: $white;
}

.share-email {
   @extend %share-link-secondary;
}

.share-copy {
   @extend %share-link-secondary;
}


/*   Submission list
   ------------------------------------------------------- */

.wrapper-saved {
   background-color: $white;
   border: 1px solid $gray;
}

.holder-sentence, .holder-picture {
   position: relative;
   width: 100%;
}

.node-share {
  text-decoration: none;
  font-size: 12px;
}

.node-meta {
   color: $gray;
   position: absolute;
   bottom: 0px;
   right: 0px;
   padding-bottom: 4px;
   padding-right: 4px;
   @include size-6;
   text-align: right;
}

#blank-picture, #blank-sentence {
   display: none;
}

/*    Sentence  -------------------------------------------- */

.holder-sentence {
   padding-top: 16px;
   padding-bottom: 24px;
   line-height: 19px;
   font-size: 14px;
   background-color: ba(213, 213, 213, 0.19);

   @include bp(med-min) {
      line-height: 24px;
      font-size: 16px;
      margin-bottom: 8px;
   }
}

.saved-sentence {
   max-width: 90%;
   text-align: center;
   margin: auto;
   display: block;
   word-break: break-word;
   &:before { content:"\"";}
   &:after { content:"\"";}
}

/*    Drawing  -------------------------------------------- */

.holder-picture {
   @extend %bg-draw;
   @extend %inset;
}

.saved-picture {
   width: 100%;
}

/*    Other  -------------------------------------------- */

.show-start {
   @include size-3;
   text-align: center;
   display: block;
}