@import 'base';

/*    Thankyou page
   ------------------------------------------------------- */

.wrapper-saved {
   background-color: $white;
   border: 1px solid $gray;
}

.holder-sentence, .holder-picture {
   position: relative;
   width: 100%;
}

.node-meta {
   color: $gray;
   position: absolute;
   bottom: 0px;
   right: 0px;
   padding-bottom: 4px;
   padding-right: 4px;
   @include size-6;
   text-align: right;
}

#blank-picture, #blank-sentence {
   display: none;
}

/*    Sentence  -------------------------------------------- */

.holder-sentence {
   padding-top: 16px;
   padding-bottom: 24px;
   line-height: 19px;
   font-size: 14px;
   background-color: ba(213, 213, 213, 0.19);

   @include bp(med-min) {
      line-height: 24px;
      font-size: 16px;
   }
}

.saved-sentence {
   max-width: 90%;
   text-align: center;
   margin: auto;
   display: block;
   &:before { content:"\"";}
   &:after { content:"\"";}
}

/*    Drawing  -------------------------------------------- */

.holder-picture {
   @extend %bg-draw;
   @extend %inset;
}

.saved-picture {
   width: 100%;
}

/*    Other  -------------------------------------------- */

.show-start {
   @include size-3;
   text-align: center;
   display: block;
}