<span id='contribution-<%= nodeId %>-flag'>
  <form class='contribution-flag'>
    <input type='submit' value='flag'
    data-contribution-id='<%= nodeId %>'
    class='flag-button'/>
  </form>
</span>
