<span id="contribution-<%= nodeId %>-unflag">
  <form class="contribution-unflag">
    <input type="submit" value="unflag"
    data-contribution-id="<%= nodeId %>"
    data-flag-id="<%= nodeFlag %>"
    class="unflag-button"/>
  </form>
</span>
